@page
@model BC_IS413_Assignment8.Pages.BuyModel

<h2>Your Cart</h2>

<table class="table table-bordered table-hover table-responsive">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Book</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-left">@line.Book.Title </td>
                <td class="text-center">@line.Quantity</td>
                <td class="text-right">$@line.Book.Price</td>
                <td class="text-right">@((line.Quantity * line.Book.Price).ToString("c"))</td> <!--ToString("c") specifies currency and adds a $ to the front-->
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">@Model.Cart.ComputeTotalSum().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>